

<div>

    <div class="d-flex justify-content-between">
        <div>
            <form class="row needs-validation" novalidate></form>
            <input [(ngModel)]="searchField" class="form-control" type="text" name="find" id="find-input"
                placeholder="Buscar" required>
        </div>
        <div>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#studentmodal">Agregar</button>
        </div>
    </div>
    <table class="table my-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let materia of Materias | filtro:['nombre']:searchField; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{materia.nombre}}</td>
                <td align="end" >
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success" [routerLink]="['/sub', materia.id, materia.nombre]">Ver</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>

<!-- Modal -->
<div class="modal fade" id="studentmodal" tabindex="-1" aria-labelledby="studentmodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="studentmodalLabel"> Nueva materia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>

                        <div class="mb-3 col-12 col-md-4">
                            <label for="name-field" class="form-label">Nombre</label>
                            <input class="form-control" [(ngModel)]="titleSubject" placeholder="Matematicas" type="text" name="" id="name-field" required>
                        </div>
                
                </div>
            </div>
            <div class="modal-footer">
                <button id="id-close-modal" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" (click)="addMateria()">Agregar</button>
            </div>
        </div>
    </div>
</div>

