<table class="table my-4">
    <thead>
        <tr>
            <th colspan="7">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-outline-primary" (click)="weekChange(-1)">{{"<"}} </button>
                            <Label>semana {{week}}</Label>
                            <button class="btn btn-outline-primary" (click)="weekChange(1)">{{">"}}
                            </button>
                </div>
            </th>
        </tr>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col"> Lun {{weekLabel[0] | date:'dd/MM'}} </th>
            <th scope="col"> Mar {{weekLabel[1] | date:'dd/MM'}} </th>
            <th scope="col"> Mie {{weekLabel[2] | date:'dd/MM'}}</th>
            <th scope="col"> Jue {{weekLabel[3] | date:'dd/MM'}} </th>
            <th scope="col"> Vie {{weekLabel[4] | date:'dd/MM'}} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of Students|histoyAttendance:weekLabel:week:dateWeek; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{student.nombre}} {{student.apellido}}</td>
            <td scope="col" *ngFor="let dia of student.semana">
                <span [bsBadge]="dia" [opt]="{danger: '=A', warning: '=E', success: '=P' }"> </span>
            </td>

        </tr>
    </tbody>

</table>