<div class="d-flex justify-content-between">
    <div>
        <input [(ngModel)]="searchField" class="form-control" type="text" name="find" id="find-input"
            placeholder="Buscar">
    </div>
    <div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#studentmodal" (click)="openModal()">Agregar</button>
    </div>
</div>

<table class="table my-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Comentario</th>
            <th scope="col"> Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let estudiante of Estudiantes | filtroEstudiante: searchField; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{estudiante.nombre}}</td>
            <td>{{estudiante.apellido}}</td>
            <td style="width: auto;" >{{estudiante.comentario.substring(0,20)}}...</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger" (click)="deleteStudent(estudiante.id)">E</button>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#studentmodal" (click)="updateStudentModal(estudiante.id, estudiante)">M</button>
                  </div>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal add student -->
<div class="modal fade" id="studentmodal" tabindex="-1" aria-labelledby="studentmodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="studentmodalLabel"> {{statuModal ==="a" ? "Nuevo":"Modificar"}} estudiante</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="form-student" [formGroup]="formStudent" class="row needs-validation" novalidate>
                        <div class="mb-3 col-12 col-md-4">
                            <label for="name-field" class="form-label">Nombre</label>
                            <input class="form-control" placeholder="Juan" type="text" name="" id="name-field" formControlName="nombre" required>
                        </div>
                        <div class="mb-3 col-12 col-md-4">
                            <label for="lastName-field" class="form-label">Apellido</label>
                            <input class="form-control" placeholder="Medina" type="text" name="" id="lastName-field" formControlName="apellido" required>
                        </div>
                        <div class="mb-3 col-12">
                            <label ifor="comment-field" class="form-label">Comentario</label>
                            <textarea class="form-control" name="comment" id="comment-field" cols="30" rows="10" placeholder="Agrega un comentario (Opcional)" formControlName="comentario"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="id-close-modal" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" *ngIf="statuModal=='a'" (click)="addStudent()">Agregar</button>
                <button type="submit" class="btn btn-primary" *ngIf="statuModal=='u'" (click)="updateStudent()">Modificar</button>
            </div>
        </div>
    </div>
</div>

